@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: 'Fira Sans',sans-serif;
  margin:5vmax;
}

h1 {
  font-size: 3em;
}

div.flex-wrapper {
  display: flex;
  flex-direction: row;
}

input:not([type=submit]) {
  padding:10px;
  border-radius: 3px;
  border:0.5px solid #9c9c9c;
  margin:10px 0 10px 0;
}

input:not([type=submit]):focus , select:focus{
  outline: none;
  border-color: #333333;
}
form {
  display: flex;
  flex-direction: column;
}
path.norm-line {
  fill:#06bcff;
}
fieldset {
  display: flex;
  flex-direction: column;
  border:none;
}
input:invalid {
  border: 1px dashed red;
}

input:invalid:focus {
  border: 1px dashed red;
}
.hide-form {
  display: none;
}
select, input[type=submit] {
  border:0.5px solid #9c9c9c;
  padding:10px;
  -webkit-appearance: none;
  border-radius:3px;
  margin:10px 0 10px 0;
}
